@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@500&family=Open+Sans:wght@800&family=Roboto:wght@100&display=swap');
:root {
  --primary-color: white;
  --secondary-color: #758C23;
  --accent-1-color: #57591C;
  --accent-2-color: #3E4016;
  --accent-3-color: black;
  --heading-font: Montserrat, sans-serif;
  --paragraph-font: Lato, sans-serif;
}
*{
  padding: 0;
  margin: 0;
}
body{
  background-color: var(--primary-color);
  max-width: 1000px;
  margin: 0 auto;
  color: var(--accent-3-color);
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  padding: 1rem;
}
p{
  font-family: var(--paragraph-font);
  padding: 1rem;
}
img{
  width: 100%;
  max-width: 1000px;
}
header{
  display: block;
  background-color: var(--accent-2-color);
  color: white;
  position: relative;
}
header h1{
  font-size: clamp(0.5rem, 4.8vw, 3rem);
  padding: 1rem;
  text-align: center;
}
nav a{
  display: none;
  text-align: center;
  padding: .5rem;
}
nav a:link{
  color: var(--primary-color);
  text-decoration: none;
}
nav a:visited{
  color: var(--secondary-color);
}
nav a:active{
  color: white;
}
nav a:hover{
  color: white;  
  background-color: var(--accent-1-color);
}
#toggleLight{
  position: absolute;
  z-index: 1;
  top: calc(100% - 30px);
  left: calc(100% - 30px);
}
#menu::before{
  content: "☰";
  position: absolute;
  left: 1rem;
  top: 3rem;
  color: #BFCFD9;
  font-size: 1.5rem;
}
#menu.show::before{
  content: "✕";
}
#menu:hover{ 
  cursor: pointer;
  background-color: var(--accent-1-color);
  color: white;  
}
#menu{
  background-color: var(--accent-2-color);
}

nav.show a{
  display: block;
}
.heroContainer{
  position: relative;
}

section.info{
  background: var(--secondary-color);
  padding: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.joinButton{
  position: absolute;
  top: calc(100% - 5rem);
  left: calc(100% - 170px);
  min-width: 120px;
  display: block;
  margin: 10px auto 0 auto;  
  background-color: var(--accent-1-color);
  color: white;
  padding: 1rem;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  opacity: 0.8;
}
.joinButton:hover{
  background-color: var(--accent-2-color);
}
section.weather{
  background: var(--primary-color);
  padding: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.adv{
  padding: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border: 2px solid var(--accent-1-color);
  border-radius: 5px;
}
.card{
  padding: 1rem;
  margin-bottom: .5rem;
  margin-top: .5rem;
  border: 2px solid var(--accent-1-color);
  border-radius: 5px;
}
.card p, .card img{
  padding: .5rem 1rem .5rem 1rem;

}

footer{
  display: block;
  background-color: var(--accent-2-color);
  color: white;
  padding: 1rem;
  text-align: center;
}
#moreInfo{
  background: var(--secondary-color);
  padding: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-radius: 5px;
  text-align: center;
  font-size: 1.5rem;
}
#temperature, #windSpeed{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#temperature p, #windSpeed p{
  padding-bottom: 0;
  
}
.sideBarLayout{
  display: grid;
  grid-template-columns: 1fr  2fr ;
  grid-template-rows: auto;
  gap: 1rem;
  padding: 1rem;
  align-items: start;
}
.side{
  margin-top:1rem;
}

#visits{
  font-size: 1.5rem;
}
section ul li{
  list-style: none;
  padding: 1rem;
  padding-top: 0;
  font-weight: 600;
}
form{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background: var(--primary-color);
  padding: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border: 2px solid var(--accent-1-color);
  border-radius: 5px;
}
button[type="submit"]{
  background-color: var(--accent-1-color);
  color: white;
  padding: 1rem;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
}
button[type="submit"]:hover{
  background-color: var(--accent-2-color);
}
textarea{
  width: 100%;
  height: 6rem;
}
/* add a '*' after the label that precedes a required field */
label.required::after{
  content: " *";
  color: red;
}
div.membership{
  background: var(--secondary-color);
  padding-left: 1rem;
  margin-top: 1rem;
  border-radius: 5px;
}
div.membership li{
  list-style: none;
  padding: 1rem;
  padding-top: 0;
  padding-bottom: 0;
  font-weight: 600;  
}
div.thankYou{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  font-size: 1.5rem;
  height: calc(100vh - 298px);


}
.toggle-button{
  padding: .5rem;
  border-radius: 5px;
  background-color: var(--accent-1-color);
  color: white;
  font-size: 1rem;
  cursor: pointer;
}
.buttons-container{
  display: flex;
  gap: .5rem;
  padding: 1rem;

  justify-content: center;
  width: 100%;
  align-items: center;
  flex-direction: row;
}
table {
  border-collapse: collapse;
  width: var(100% -10px);
  border: 2px solid var(--accent-1-color);
  border-radius: 5px;
  background: var(--primary-color);
  margin: 0;

}


tbody:nth-child(even) {
  background-color: rgba(130, 130, 130, 0.1);
}
tbody:nth-child(odd) {
  background-color: rgba(130, 130, 130, 0.2);
}
thead th{
  background-color: var(--accent-1-color);
  color: white;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}
tr{
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid var(--accent-1-color);
}
td{
  padding: 1rem;
  padding-bottom: 0;
}
div.container{
  margin: 0;
  padding: 0;
}