@media screen and (min-width: 900px) {
  main, div.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .heroContainer, .buttons-container, div.container, table{
    grid-column: span 2;
  }
  .info, .join, .weather, .adv{
    height: calc(100% - 60px);
  }
  .joinTitle{
    grid-column: span 2;
  }
  form{
    margin-bottom: auto;
  }
  tr{
    display:block
  }
  
}