@media screen and (min-width: 600px) {
  #menu {
    display: none;
  }
  nav a, nav.show a{
    display: block;
  }
  nav, footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .info, .join, .weather, .adv, .membership,form{
    margin: 10px;
    box-shadow: 2px 2px 4px #565656;
  }
  .side:hover{
    transform: scale(1.05);
    transition: 0.5s;
  }
  .side{
    box-shadow: 2px 2px 4px #565656;
    transition: 0.3s;
  }
  
}