@media (min-width: 600px) {

  nav {
    display: flex;
    flex-direction: row;
  }
  nav a{
    flex: 1 1 100%;
    text-align: center;
  }
  main{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1rem;
  }
  h2{
    grid-column: span 2;
  }
  .card{
    box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
  }
  
}